* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
p {
    text-align: center;
    background-color: rgb(150, 148, 148);
    padding: 10px;
}
a {
    text-decoration: none;
    color: rgb(45, 44, 44);
    margin: 10px;
}